[submodule "Submodules/ggml"]
	path = Submodules/ggml
	url = https://github.com/ggerganov/ggml.git
[submodule "Submodules/AniSD.cpp"]
	path = Submodules/AniSD.cpp
	url = https://github.com/FizzleDorf/AniSD.cpp.git
[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/ggml-nodes"]
	path = Submodules/ggml-nodes
	url = https://github.com/thedmd/imgui-node-editor.git
